---
const { title, description, url, headerImage } = Astro.props;

const fontUrl =
  "https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2";
// const videoSrc = "/videos/1-Analisis-Mercado-Inmobiliario-Barreto-Coldwell-Banker-NOVAC-CDMX-2025-MX.mp4";

---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="canonical" href={url} />

  <!-- Metadatos de Open Graph -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={url} />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Barreto | Asesor Inmobiliario en Coldwell Banker Novac - CDMX/MX." />
  <meta property="og:locale" content="es_ES" />

  <!-- Robots meta tag for SEO control -->
  <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />

  <!-- Precarga de la fuente -->
  <link 
    rel="preconnect" 
    href="https://cdn.jsdelivr.net" 
    crossorigin="anonymous" />
    
  <link
    rel="preload"
    href={`${fontUrl}`}
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
    fetchpriority="high"
  />




  <link rel="preconnect" href="https://media.barretoads.dev" crossorigin="anonymous" />
  <link rel="preconnect" href="https://barretoads.dev" crossorigin="anonymous" />
  <!-- Precargar img header cover R2-->
<link 
rel="preload" 
as="image" 
href="https://media.barretoads.dev/Barreto-Cover-bg.avif" 
type="image/avif" 
fetchpriority="high"
crossorigin="anonymous"
/>
<link 
rel="preload" 
as="image" 
href="https://media.barretoads.dev/Barreto-Cover-bg.webp" 
type="image/webp" 
fetchpriority="high"
crossorigin="anonymous"
/>
<!-- Precargar img profile R2-->
<link 
rel="preload" 
as="image" 
href="https://media.barretoads.dev/EnmaPerfil.avif" 
type="image/avif" 

fetchpriority="high"
/>
<link 
rel="preload" 
as="image" 
href="https://media.barretoads.dev/EnmaPerfil.webp" 
type="image/webp" 

fetchpriority="high"
/>


  <link rel="preconnect" href="https://barretoads.dev" crossorigin="anonymous" />
    <!-- Precargar img header cover local-->
  <!-- <link 
  rel="preload" 
  as="image" 
  href="/images/Barreto-Cover-bg.avif" 
  type="image/avif" 
  fetchpriority="high"
  crossorigin="anonymous"
/>
<link 
  rel="preload" 
  as="image" 
  href="/images/Barreto-Cover-bg.webp" 
  type="image/webp" 
  fetchpriority="high"
  crossorigin="anonymous"
/> -->
 <!-- Precargar img profile local-->
<!-- <link 
  rel="preload" 
  as="image" 
  href="/images/EnmaPerfil.avif" 
  type="image/avif" 
  crossorigin="anonymous"
  fetchpriority="high"
/>
<link 
  rel="preload" 
  as="image" 
  href="/images/EnmaPerfil.webp" 
  type="image/webp" 
  crossorigin="anonymous"
  fetchpriority="high"
/> -->




</head>
